.card {
  /* Make the fake element (border) to the bottom */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card::after {
  /* Fake border */
  content: '';
  display: block;
  border-bottom: 1px solid rgb(233, 238, 241);
}

.pic {
  flex: 1 1 auto;
  padding: 1em;
}
.pic img {
  width: 100%;
}

.liter {
  flex: 1 1 200px;
  padding: 1em;
}

.card a {
  text-decoration: none;
}

.head {
  color: black;
  margin-top: 0;
}

.excerpt {
  color: rgb(115, 138, 148);
}

/* Skeleton */
.card:empty::after {
  height: 100%;
  min-height: 100px;
  content: '';
  --line-height: 1.15;
  --head-margin: max(1em, 0.83 * 1.5em);
  --head-line: calc(1.5em * var(--line-height));
  --excerpt-line: calc(1em * var(--line-height));
  --excerpt-start: calc(var(--head-line) + var(--head-margin));
  --text-skeleton: linear-gradient(grey 100%, transparent 0);
  --card-skeleton: linear-gradient(white 100%, transparent 0);
  background-repeat: no-repeat;
  background-image: var(--text-skeleton), var(--text-skeleton),
    var(--text-skeleton), var(--card-skeleton);
  background-size: 40% 1.5em, 100% 1em, 50% 1em, 100% 100%;
  background-position: 0 0, 0 var(--excerpt-start),
    0 calc(var(--excerpt-start) + var(--excerpt-line)), 0 0;
}
