.page {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.postcard {
    width: 100%;
    flex: 1;
    margin: 0 auto;
    max-width: var(--max-post-width);
}

.page header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

:root {
    --max-post-width: calc(700px + 10vw);
}